
body {
    margin: 1em auto;
    width: 75%;
}
header {
    width: 100%;
    padding: 1em;
    text-align: center;
    background: #efefef;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.row {
    height: auto;
    overflow: hidden;
    padding: 1em;
}
p {
    border-bottom: 0 none;
    display: block;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    float: left;
    width: 40%;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 1em;
    margin: 1em 0;
}
img {
    display: block;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    float: right;
    width: 40%;
    margin: 1em 0;

}
button {
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: 5px;
    background: #efefff;
    display: block;
    clear: both;
    padding: 0.5em;
    margin: 0 auto;
}
